body {
  width: 100%;
  margin: 0 auto;
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@font-face {
  font-family: huluStyle;
  src: url(assets/Hulustyle/TTF/hulustyle-bold-webfont.ttf) format("truetype");
}


#login {
  height: 0em;
  float: right;
  padding: 0.5em 2em;
  color: white;
}
a :link a :visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
#header {
  background-image: url(assets/homePageHulu.jpg);
  height: 46em;
  margin: 0 auto;
  opacity: 80%;
  text-align: center;
}

#logo {
  margin-top: 4em;
  margin-bottom: 2em;
}
#bridge {
  height: 10em;
  background-image: linear-gradient(
    135deg,
    #231437 0%,
    #2c385e 50%,
    #336e6b 100%
  );
  background-size: contain;
  display: flexbox;
  flex-direction: column;
}
.img {
  height: 50%;
  background-size: cover;
  float: left;
  margin-top: 2em;
  margin-left: 1em;
}
.middleBridge {
  width: 50%;
  padding: 0em 0em 0em 0em;
  float: left;
  background-size: cover;
}
.rightBridge {
  width: 20%;
  display: table-cell;
  vertical-align: center;
  text-align: center;
}
ul {
  list-style-type: none;
  text-align: left;
}
#feature {
  margin-top: 5em;
  height: 50em;
  background-color: black;
  position: relative;
}

h1 {
  color: #1ce783;
  font-size: 8em;
  text-align: center;
  padding: 0 0;
}
h2 {
  color: white;
  font-size: 2.65em;
}

h3 {
  color: white;
  font-size: 1.8em;
}
h4 {
  color: white;
  font-size: 1.4em;
  font-weight: 75;
}
h5 {
  color: #1ce783;
  font-size: 1em;
}
.button1 {
  height: 3em;
  width: 15em;
  background-color: white;
  background-size: contain;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.button1:hover {
  opacity: 70%;
}
.button2 {
  height: 3em;
  width: 12em;
  background-color: transparent;
  color: white;
  border: 0.1em solid white;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: auto;

  text-align: center;
}
p {
  color: white;
  font-size: 0.8em;
  font-weight: 50;
}

#terms {
  text-align: center;
}
.featureShows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.img1 {
  margin-top: 3em;
  margin-left: 2em;
  height: 385px;
}
.featureText {
  display: block;
  width: 50%;
  float: center;
  margin: 0 auto;
  text-align: center;
}
